.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 78px;
}

.container_wrapper {
  max-width: 1920px;
  width: 100%;
}

.container {
  margin: 0px 42px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.title {
  color: #3b3b3b;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 127.2%; /* 45.792px */
}

.title_highlight {
  color: #0089a9;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 127.2%;
}

.description {
  color: #315c66;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}



@media screen and (max-width: 992px) {
  .wrapper{
    margin-top: 68px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper{
    margin-top: 45px;
  }
}
