.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_wrapper {
  max-width: 1920px;
  width: 100%;
}

.container {
  margin: 0px 42px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.title {
  color: #3b3b3b;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 137.5% */
}

.sub_title {
  color: #315c66;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%; /* 30.06px */
}
